body{
    background-color: $main;
}

* {
    font-family: 'Roboto';
    color: $secondary;
    margin: 0;
}

p{
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 3px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #5C5C5C;
}

.infobox {
    background-color: $mainDarker;
    border-radius: 20px;
    padding: 10px;
}